<ion-header no-border color="backColor">
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/imgs/menu.svg">
    </button>
    <ion-title>FootGolf CUP</ion-title>
  </ion-navbar>
   
</ion-header>

<ion-content class="backgroundColor">

  
  
   <ion-segment [(ngModel)]="rankingSwitch">
    <ion-segment-button (ionSelect)="onSegmentChange('ABSOLUTE')" value="absolute">
      {{ 'RANKING_ABSOLUTE' | translate }}
    </ion-segment-button>
      <ion-segment-button (ionSelect)="onSegmentChange('SENIOR')" value="seniors">
      {{ 'RANKING_SENIORS' | translate }}
    </ion-segment-button>

    <ion-segment-button (ionSelect)="onSegmentChange('WOMEN')" value="dames">
      {{ 'RANKING_DAMES' | translate }}
    </ion-segment-button>
    <ion-segment-button (ionSelect)="onSegmentChange('EQUIPE')" value="equipe">
      {{ 'RANKING_DOUBLE' | translate }}
    </ion-segment-button>
    <ion-segment-button (ionSelect)="onSegmentChange('CLUBS')" value="clubs">
      {{ 'RANKING_CLUBS' | translate }}
    </ion-segment-button>
	<ion-segment-button (ionSelect)="onSegmentChange('DAMESCLUBS')" value="damesclubs">
	  {{ 'RANKING_DAMESCLUBS' | translate }}
	</ion-segment-button>

  </ion-segment>
  
  
  
  
  <div  [ngSwitch]="rankingSwitch">
  
	
	
	
	<div *ngSwitchCase="'absolute'" padding>
		
		<ion-searchbar debounce="700" (ionInput)="SearchPlayers($event, 'ABSOLUTE')"></ion-searchbar>
		
	<ion-list class="ranking-bueno" >
	  <ion-item *ngFor="let rank of ranking; index as j">    
	    <ion-grid>
	    	<ion-row>
			    <ion-col col-2>
			      {{ rank.Rank }} 
			      	<!--<span class="variacion ranking_up" *ngIf="rank.evolucion_ranking == 1"><ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon></span>
			        <span class="variacion ranking_down" *ngIf="rank.evolucion_ranking == -1"><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></span>
			        <span class="variacion ranking_same" *ngIf="rank.evolucion_ranking == 0">=</span>-->
			        <img src="./assets/imgs/flags/{{ rank.Licence.Nationality }}.png" width="16px">
			    </ion-col>
			    <ion-col col-7>
			       {{ rank.Licence.LastName }},  {{ rank.Licence.FirstName }} 
		    <ion-icon name="star" (click)="unfavoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="isFavorite[j]"></ion-icon>
		    <ion-icon name="star-outline" (click)="favoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="!isFavorite[j]"></ion-icon>
			    </ion-col>
			    <ion-col col-3 text-right>
			      <span *ngIf="rank.Rank">{{ rank.ScoreHeight }}</span>
			      <span *ngIf="!rank.Rank">0</span>
			    </ion-col>
			  </ion-row>
	    </ion-grid>
	  </ion-item>
	</ion-list>
	
	<ion-infinite-scroll (ionInfinite)="doInfinite($event, 'ABSOLUTE')">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
	</div>
	
	
		<div *ngSwitchCase="'equipe'" padding>
		
		<ion-searchbar debounce="700" (ionInput)="SearchPlayers($event, 'EQUIPE')"></ion-searchbar>
		
	<ion-list class="ranking-bueno" >
	  <ion-item *ngFor="let rank of ranking; index as j">    
	    <ion-grid>
	    	<ion-row>
			    <ion-col col-2>
			      {{ rank.Rank }} 
			      	<!--<span class="variacion ranking_up" *ngIf="rank.evolucion_ranking == 1"><ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon></span>
			        <span class="variacion ranking_down" *ngIf="rank.evolucion_ranking == -1"><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></span>
			        <span class="variacion ranking_same" *ngIf="rank.evolucion_ranking == 0">=</span>-->
			        <img src="./assets/imgs/flags/{{ rank.Licence.Nationality }}.png" width="16px">
			    </ion-col>
			    <ion-col col-7>
			       {{ rank.Licence.LastName }},  {{ rank.Licence.FirstName }} 
		    <ion-icon name="star" (click)="unfavoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="isFavorite[j]"></ion-icon>
		    <ion-icon name="star-outline" (click)="favoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="!isFavorite[j]"></ion-icon>
			    </ion-col>
			    <ion-col col-3 text-right>
			      <span *ngIf="rank.Rank">{{ rank.ScoreHeight }}</span>
			      <span *ngIf="!rank.Rank">0</span>
			    </ion-col>
			  </ion-row>
	    </ion-grid>
	  </ion-item>
	</ion-list>
	
	<ion-infinite-scroll (ionInfinite)="doInfinite($event, 'EQUIPE')">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
	</div>

	
	
	
	<div *ngSwitchCase="'dames'" padding>
		
		<ion-searchbar debounce="700" (ionInput)="SearchPlayers($event, 'WOMEN')"></ion-searchbar>
		
	<ion-list class="ranking-bueno" >
	  <ion-item *ngFor="let rank of ranking; index as j">    
	    <ion-grid>
	    	<ion-row>
			    <ion-col col-2>
			      {{ rank.Rank }} 
			      	<!--<span class="variacion ranking_up" *ngIf="rank.evolucion_ranking == 1"><ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon></span>
			        <span class="variacion ranking_down" *ngIf="rank.evolucion_ranking == -1"><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></span>
			        <span class="variacion ranking_same" *ngIf="rank.evolucion_ranking == 0">=</span>-->
			        <img src="./assets/imgs/flags/{{ rank.Licence.Nationality }}.png" width="16px">
			    </ion-col>
			    <ion-col col-7>
			       {{ rank.Licence.LastName }},  {{ rank.Licence.FirstName }} 
		    <ion-icon name="star" (click)="unfavoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="isFavorite[j]"></ion-icon>
		    <ion-icon name="star-outline" (click)="favoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="!isFavorite[j]"></ion-icon>
			    </ion-col>
			    <ion-col col-3 text-right>
			      <span *ngIf="rank.Rank">{{ rank.ScoreHeight }}</span>
			      <span *ngIf="!rank.Rank">0</span>
			    </ion-col>
			  </ion-row>
	    </ion-grid>
	  </ion-item>
	</ion-list>
	
	<ion-infinite-scroll (ionInfinite)="doInfinite($event, 'WOMEN')">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
	</div>
	
	<div *ngSwitchCase="'seniors'" padding>
		
		<ion-searchbar debounce="700" (ionInput)="SearchPlayers($event, 'SENIOR')"></ion-searchbar>
		
	<ion-list class="ranking-bueno" >
	  <ion-item *ngFor="let rank of ranking; index as j">    
	    <ion-grid>
	    	<ion-row>
			    <ion-col col-2>
			      {{ j + 1 }} 
			      	<!--<span class="variacion ranking_up" *ngIf="rank.evolucion_ranking == 1"><ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon></span>
			        <span class="variacion ranking_down" *ngIf="rank.evolucion_ranking == -1"><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></span>
			        <span class="variacion ranking_same" *ngIf="rank.evolucion_ranking == 0">=</span>-->
			        <img src="./assets/imgs/flags/{{ rank.Licence.Nationality }}.png" width="16px">
			    </ion-col>
			    <ion-col col-7>
			       {{ rank.Licence.LastName }},  {{ rank.Licence.FirstName }} 
		    <ion-icon name="star" (click)="unfavoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="isFavorite[j]"></ion-icon>
		    <ion-icon name="star-outline" (click)="favoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="!isFavorite[j]"></ion-icon>
			    </ion-col>
			    <ion-col col-3 text-right>
			      <span *ngIf="rank.Rank">{{ rank.ScoreHeight }}</span>
			      <span *ngIf="!rank.Rank">0</span>
			    </ion-col>
			  </ion-row>
	    </ion-grid>
	  </ion-item>
	</ion-list>
	
	<ion-infinite-scroll (ionInfinite)="doInfinite($event, 'SENIOR')">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
	</div>
	
	<div *ngSwitchCase="'clubs'" padding>
		
		<ion-searchbar debounce="700" (ionInput)="SearchPlayers($event, 'CLUBS')"></ion-searchbar>
		
	<ion-list class="ranking-bueno" >
	  <ion-item *ngFor="let rank of ranking; index as j">    
	    <ion-grid class="fila_equipo">
	    	<ion-row>
			    <ion-col col-1>
			      {{ rank.Rank }} 
			      </ion-col>
			     <ion-col col-2>
			      	<!--<span class="variacion ranking_up" *ngIf="rank.evolucion_ranking == 1"><ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon></span>
			        <span class="variacion ranking_down" *ngIf="rank.evolucion_ranking == -1"><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></span>
			        <span class="variacion ranking_same" *ngIf="rank.evolucion_ranking == 0">=</span>-->
			        
			        <ion-thumbnail item-start>
				      	<img *ngIf="rank.Club" src="data:image/png;base64,{{ rank.Club.Logo }}">
				      	<img *ngIf="!rank.Club" src="assets/imgs/2.svg">
				        <!--<img src="https://www.footgolf-france.fr/media/cache/club_big/{{t.Id}}_{{global.anyo}}">-->
				      </ion-thumbnail>
			       </ion-col>
			    <ion-col col-6 class="nombre_equipo">
			       {{ rank.Club.Name }} 
		    <!--<ion-icon name="star" (click)="unfavoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="isFavorite[j]"></ion-icon>
		    <ion-icon name="star-outline" (click)="favoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="!isFavorite[j]"></ion-icon>-->
			    </ion-col>
			    <ion-col col-3 text-right>
			      <span>{{ rank.ScoreHeight }}</span>
			      <span *ngIf="!rank.ScoreHeight">0</span>
			    </ion-col>
			  </ion-row>
	    </ion-grid>
	  </ion-item>
	</ion-list>
	
	<ion-infinite-scroll (ionInfinite)="doInfinite($event, 'CLUBS')">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
	</div>
	
	<div *ngSwitchCase="'damesclubs'" padding>
		
		<ion-searchbar debounce="700" (ionInput)="SearchPlayers($event, 'DAMESCLUBS')"></ion-searchbar>
		
	<ion-list class="ranking-bueno" >
	  <ion-item *ngFor="let rank of ranking; index as j">    
		<ion-grid class="fila_equipo">
			<ion-row>
				<ion-col col-1>
				  {{ rank.Rank }} 
				  </ion-col>
				 <ion-col col-2>
					  <!--<span class="variacion ranking_up" *ngIf="rank.evolucion_ranking == 1"><ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon></span>
					<span class="variacion ranking_down" *ngIf="rank.evolucion_ranking == -1"><ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon></span>
					<span class="variacion ranking_same" *ngIf="rank.evolucion_ranking == 0">=</span>-->
					
					<ion-thumbnail item-start>
						  <img *ngIf="rank.Club" src="data:image/png;base64,{{ rank.Club.Logo }}">
						  <img *ngIf="!rank.Club" src="assets/imgs/2.svg">
						<!--<img src="https://www.footgolf-france.fr/media/cache/club_big/{{t.Id}}_{{global.anyo}}">-->
					  </ion-thumbnail>
				   </ion-col>
				<ion-col col-6 class="nombre_equipo">
				   {{ rank.Club.Name }} 
			<!--<ion-icon name="star" (click)="unfavoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="isFavorite[j]"></ion-icon>
			<ion-icon name="star-outline" (click)="favoritePlayer(rank.Licence.Id,j);$event.stopPropagation()" *ngIf="!isFavorite[j]"></ion-icon>-->
				</ion-col>
				<ion-col col-3 text-right>
				  <span>{{ rank.ScoreHeight }}</span>
				  <span *ngIf="!rank.ScoreHeight">0</span>
				</ion-col>
			  </ion-row>
		</ion-grid>
	  </ion-item>
	</ion-list>
	
	<ion-infinite-scroll (ionInfinite)="doInfinite($event, 'DAMESCLUBS')">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
	</div>
	
	
	
  </div>
	
  




</ion-content>

 