page-event {
	ion-title {
	  position: absolute;
	  top: 0;
	  left: 0;
	  padding: 0 90px 1px;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	}
	.backgroundColor{
		background-color: #f8f8f8;
	}
	h3 {
		color: #2c2c2c !important;
		font-size: 1.2rem !important;
	}
	ion-icon {
	    display: inline-block;
	    font-size: 4.2em;
	    color: #2c2c2c;
	}
	.noText{
		color: #fff !important;
	}
}
