// Styles for all of the user pages:
// Login, Signup, Support

page-newteam {
    
    font-family: 'Roboto', sans-serif; 

    .list {
        margin-bottom: 0;
    }
    
    .login-page{
        background-color: white !important;
        
    }

    .login-page .item-divider{ background-color: transparent;}
    .login-page .item .ion-label-stacked, .login-page .item .text-input{ color: color($colors, dark);}
	
	ion-label[stacked], ion-label[floating]{ color: #d4d4d4;}
	
    .login-page .item{ background: transparent; color: white; padding-left: 0 !important;}
    
    .login-page .item-inner{}
    

    /*.login-page .button-default{ background-color: white; color: color($colors, primary);}*/
    
    page-login .login-page .item .ion-label-stacked, page-login .login-page .item .text-input{ color: color($colors, dark);}
    

    .login-page .list{ margin-top: 10%;}
    
    .logo{ margin-bottom: 20%;
	    
	    img{ width: 70%;}
	    h4{ margin-top: 20%;}
	    
    }
    
    .texto-legal{ color: color($colors, light); line-height: 20px;}
    
   .content-ios .scroll-content{ border-top: none !important; background-color: white !important;}
   
   .button-block{ min-height: 41px;}
    
    
}