page-signature {
	
	.scroll-content{ margin-bottom: 0;}
	
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      .resultBox{
        display: block;
        width: 90%;
        height: 30%;
        margin: 16px auto;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .circle {
        background-color:#fff;
        border:3px solid #777;    
        height:70px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:70px;
    }
    .fright{
        float: right;
    }
    .fleft{
        float: left;
    }
    .mCenter{
        margin: 0 auto;
    }
    .follow{
        padding-top:5px;
        padding-bottom:5px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }
    .tile{
        background-color: #0061cb;
        padding: 5px 12px 5px 12px;
        color: #fff;
        border-radius: 25px;
    }
    .mDate{
        color: #000;
        font-size: 1rem;
    }
    .item-md.mode{
        color: #000;
        background-color: #f8f8f8;

    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #0061cb;
    }
    .dot{
        background-color:green;   
        height:15px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:15px;
        float: left;
    }
    .dot2{
        background-color:#d0021b;   
        height:15px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:15px;
        float: left;
    }
    .dot3{
        background-color:#4a90e2;   
        height:15px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:15px;
        float: left;
    }
    .content-md hr {
        background-color: #0061cb;
    }
    .subTabs{
        font-size: 1.0rem;
        font-weight: bold;
    }
    .padLeft{
        padding-left: 35px
    }
    .player {
        background-color:#fff;
        border:1px solid #777;    
        height:40px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        width:40px;
    }
    
    #container{
        position: relative;
        display: block;
        height: 55px;
        width: 50px;
    }
    #notifications-badge {
        background-color: #d0021b;
        position: absolute;
        border-radius: 100%;
        right: 0;
    }
    #notifications-badgeB {
        background-color: #4a90e2;
        position: absolute;
        border-radius: 100%;
        right: 0;
    }
    #icon {
        position: relative;
    }
    #wrapper {
        position: absolute;
        top: 5px;
        right: 0;
    }
    .circleB {
        background-color:#fff;
        border:3px solid #777;    
        height:50px;
        width:50px;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
    }
    
    .litMargin {
        margin-bottom: 5px;
    }
    
    .tab_jugador{
	    font-size: .7em;
	    
	    img{ border-radius: 50%; border: 2px solid #8c8c8c; width: 35px !important; display: initial;}
	    p{ margin-top: 5px;}
	    
	    .active{
		    
		    img{ border: 2px solid #4D8CF4;}
			p{ color: #4D8CF4;}
		    
	    }
	    
	    
    }
    
    .timeline {
  
  ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;
    
    &::before {
      content: ' ';
      height: 100%;
      width: 1px;
      background-color: $light-grey;
      position: absolute;
      top: 0;
      left: 2.5em;
      z-index: -1;
    }
  }
  
  li div{
    display: inline-block;
    margin: 1em 0;
    vertical-align: top;
  }
  
  .bullet {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    background: $white;
    z-index: 1;
    margin-right: .3em;
        position: relative;
    top: -7px;
    
    &.pink {
      border: 2px solid $pink;
    }
    
    &.green {
      border: 2px solid $green;
    }
    
    &.orange {
      border: 2px solid $orange;
    }
  }
  
  .time {
    width: 52%;
    font-size: .8em;
    padding-top: 0;
    position: relative;
    top: -4px;
    
  }
  
  .desc {
        width: 20%;
    padding: 0px;
    text-align: center !important;
    margin-left: 20px;
    margin-top: -4px;
  }
  

    
    
    
    	
    

  
  h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
  }
  
  h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 400;
    color: $dark-grey;
  }
  
}
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.swiper-slide img{ width: 16px !important;}

 .contenedor-resultados{
		
		ion-grid{ background-color: rgba(255,255,255,.03);
	border: none !important;
	border-radius: 6px;
	padding: 0px;
	margin-bottom: 8px;
			
			img{
			    width: 30px;
			    height: 30px;
			    border-radius: 50%;
			  }
			
		}
		
		
		
		
		}
	
	 ion-list{
	    margin-top: 10px !important;
	    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
		box-shadow: 0 4px 16px rgba(0,0,0,.12); 
		border-radius: 8px;
    }
    
    .item-block:first-child{ border-top: none !important; border-radius: 8px;}
    .item-block:last-child, .item-wrapper:last-child .item-block{ border-bottom: none !important; border-radius: 8px;}
    
    
    .teamCard{
	    h1{ margin-bottom: 3rem;}
	    label{ color: rgba(255,255,255,.5); }
	    p{ line-height: .5em; }
    }
    
    
    ion-item, .item-ios, .item-md{
	
	background-color: rgba(255,255,255,.03);
	border: none !important;
	border-radius: 6px;
	padding: 0px;
	margin-bottom: 8px;
	
	.item-inner{ border-bottom: none !important;
		
		
		
	}
	
	ion-label{     white-space: unset;
		h2{ color: white; font-size: 1.6rem;}
		p.note{ font-size: 1.2rem;     margin: 6px 0px 2px; color: rgba(255,255,255,.5) !important; }
	}
	
	ion-thumbnail[item-start]{
		margin: 0px;
		margin-right: 8px;
		margin-left: 8px;
		
		img{ min-height: 60px; min-width: 60px; border-radius: 50%; background-color: white;     padding: 2px;}
		ion-icon{    font-size: 70px;
    color: white;}
	}
	
	
}

	
	.text-input{ text-align: center; padding-right: 0px; margin: 0 !important; height: 45px; width: 45px;
    border: solid black 1px;
    height: 45px;
    border-radius: 2px;
    font-size: 1.5em;
    text-align: center;
    color: black;
    background-color: white; padding-right: 0px !important;}
	
	
	.col{ padding: 0;}
	
	canvas{ width: 100%; border-radius: 6px;}
	
	.title{ margin-bottom: 20px;}
    
    ion-footer{ max-height: 150px; .row{ padding: 5px 10px;} :nth-child(2){ padding-left: 5px;}}
    
    
    /*img{ height: 35px; width: 35px;  border-radius: 50%;   border: 2px solid white;}
    ion-icon{ color: white; font-size: 42px;}*/
    
    
}