<ion-header no-border color="backColor">
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/imgs/menu.svg">
    </button>
    <ion-title>Clubs</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="backgroundColor">
	
	
	<!--
	<ion-grid text-center>
	  <ion-row>
	    <ion-col col-4  *ngFor="let t of teams" (click)="openTeam(t.id,t.id_database)">
	    <ion-avatar item-start>
			<img src="{{ t.logo }}" height="60px;">
		</ion-avatar>{{ t.nombre }}</ion-col>   
	  </ion-row>
	</ion-grid>
	-->
	
	<ion-list >
    
    <ion-item *ngFor="let t of teams" (click)="openTeam(t)">
      <ion-thumbnail item-start>
        <img src="https://www.footgolf-france.fr/media/cache/club_big/{{t.Id}}_{{global.anyo}}">
      </ion-thumbnail>
      <h2>{{t.Name}}</h2>
      <p class="note">{{t.Places.HeadOffice.Locality}}</p>
    </ion-item>

    
  </ion-list>
	

</ion-content>


<ion-footer>
	<ion-toolbar>
    
    <ion-grid>
    	<ion-row>
			<ion-col>
			      <a *ngIf="home" class="menu-inf-option has-title has-icon disable-hover" aria-selected="true" (click)="openMenu(1)">
				    	<!--<ion-icon class="menu_inf-icon icon icon-ios ion-ios-home-outline" role="img" aria-label="home outline"></ion-icon>-->
				    	<span class="icono"><img src="assets/imgs/1_active.svg" height="30px"></span>
						<span class="menu-inf-text">{{ 'MENU1' | translate }}</span>
					</a>
					
					<a *ngIf="!home" class="menu-inf-option has-title has-icon disable-hover" (click)="openMenu(1)">
				    	<!--<ion-icon class="menu_inf-icon icon icon-ios ion-ios-home-outline" role="img" aria-label="home outline"></ion-icon>-->
				    	<span class="icono"><img src="assets/imgs/1.svg" height="30px"></span>
						<span class="menu-inf-text">{{ 'MENU1' | translate }}</span>
					</a>
					
	  		</ion-col>
	  		<ion-col>
			      <a *ngIf="lineups" class="menu-inf-option has-title has-icon disable-hover" aria-selected="true" (click)="openMenu(2)">
				    	<span class="icono"><img src="assets/imgs/2_active.svg" height="30px"></span>
						<span class="menu-inf-text">{{ 'MENU2' | translate }}</span>
					</a>
					<a *ngIf="!lineups" class="menu-inf-option has-title has-icon disable-hover" (click)="openMenu(2)">
				    	<span class="icono"><img src="assets/imgs/2.svg" height="30px"></span>
						<span class="menu-inf-text">{{ 'MENU2' | translate }}</span>
					</a>
	  		</ion-col>  
	  		<ion-col>
			      <a *ngIf="courses" class="menu-inf-option has-title has-icon disable-hover" aria-selected="true" (click)="openMenu(3)">
				    	<span class="icono"><img src="assets/imgs/3_active.svg" height="30px"></span>
						<span class="menu-inf-text">{{ 'MENU3' | translate }}</span>
					</a>
					<a *ngIf="!courses" class="menu-inf-option has-title has-icon disable-hover" (click)="openMenu(3)">
				    	<span class="icono"><img src="assets/imgs/3.svg" height="30px"></span>
						<span class="menu-inf-text">{{ 'MENU3' | translate }}</span>
					</a>
	  		</ion-col>
	  		<ion-col>
			      <a *ngIf="rankings" class="menu-inf-option has-title has-icon disable-hover" aria-selected="true" (click)="openMenu(4)">
				    	<span class="icono"><img src="assets/imgs/4_active.svg" height="30px"></span>
						<span class="menu-inf-text">{{ 'MENU4' | translate }}</span>
					</a>
					<a *ngIf="!rankings" class="menu-inf-option has-title has-icon disable-hover" (click)="openMenu(4)">
				    	<span class="icono"><img src="assets/imgs/4.svg" height="30px"></span>
						<span class="menu-inf-text">{{ 'MENU4' | translate }}</span>
					</a>
	  		</ion-col>
	  		<ion-col>
			      <a class="menu-inf-option has-title has-icon disable-hover" menuToggle>
				    	<span class="icono"><ion-icon name="more"></ion-icon></span>
						<span class="menu-inf-text">{{ 'MENU5' | translate }}</span>
					</a>
	  		</ion-col>
	  </ion-row>
    </ion-grid>
    
    	
    

  </ion-toolbar>
</ion-footer>